.cube {
  position: relative;
  color: white;
  font-family: Bowlby One Sc, sans-serif;
  font-size: 50px;
  line-height: 1em;
  text-align: justify;
  -webkit-perspective: 6.2em;
  perspective: 6.2em;
}

.br-cube {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 3.1em;
  width: 3.1em;
  border: 1px solid purple;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(45deg) rotateX(0);
  -webkit-animation: datspintho 4.5s .5s ease-in-out infinite;
  transform-style: preserve-3d;
  transform: rotateY(45deg) rotateX(0);
  animation: datspintho 4.5s .5s ease-in-out infinite;
}

.br-cube-face {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 33.33333333%;
  width: 100%;
  background-color: #6AA32A;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.br-cube-face-full {
  height: 100%;
}

.br-cube-t {
  -webkit-transform: rotateX(90deg) translateZ(1.55em);
  transform: rotateX(90deg) translateZ(1.55em);
}

.br-cube-tf {
  -webkit-transform: translateY(-1.03333em) translateZ(1.55em);
  transform: translateY(-1.03333em) translateZ(1.55em);
}

.br-cube-tr {
  -webkit-transform: translateY(-1.03333em) rotateY(90deg) translateZ(1.55em);
  transform: translateY(-1.03333em) rotateY(90deg) translateZ(1.55em);
}

.br-cube-tl {
  -webkit-transform: translateY(-1.03333em) rotateY(-90deg) translateZ(1.55em);
  transform: translateY(-1.03333em) rotateY(-90deg) translateZ(1.55em);
}

.br-cube-tb {
  -webkit-transform: translateY(-1.03333em) translateZ(-1.55em) rotateY(180deg);
  transform: translateY(-1.03333em) translateZ(-1.55em) rotateY(180deg);
}

.br-cube-mf {
  -webkit-transform: rotateY(10deg) translateZ(1.55em);
  transform: rotateY(10deg) translateZ(1.55em);
}

.br-cube-mr {
  -webkit-transform: rotateY(100deg) translateZ(1.55em);
  transform: rotateY(100deg) translateZ(1.55em);
}

.br-cube-ml {
  -webkit-transform: rotateY(-80deg) translateZ(1.55em);
  transform: rotateY(-80deg) translateZ(1.55em);
}

.br-cube-mb {
  -webkit-transform: translateZ(-1.55em) rotateY(190deg);
  transform: translateZ(-1.55em) rotateY(190deg);
}

.br-cube-d {
  -webkit-transform: rotateY(-10deg) rotateX(-90deg) translateZ(1.55em);
  transform: rotateY(-10deg) rotateX(-90deg) translateZ(1.55em);
}

.br-cube-df {
  -webkit-transform: rotateY(-10deg) translateY(1.03333em) translateZ(1.55em);
  transform: rotateY(-10deg) translateY(1.03333em) translateZ(1.55em);
}

.br-cube-dr {
  -webkit-transform: rotateY(-10deg) translateY(1.03333em) rotateY(90deg) translateZ(1.55em);
  transform: rotateY(-10deg) translateY(1.03333em) rotateY(90deg) translateZ(1.55em);
}

.br-cube-dl {
  -webkit-transform: rotateY(-10deg) translateY(1.03333em) rotateY(-90deg) translateZ(1.55em);
  transform: rotateY(-10deg) translateY(1.03333em) rotateY(-90deg) translateZ(1.55em);
}

.br-cube-db {
  -webkit-transform: rotateY(-10deg) translateY(1.03333em) translateZ(-1.55em) rotateY(180deg);
  transform: rotateY(-10deg) translateY(1.03333em) translateZ(-1.55em) rotateY(180deg);
}

.text-right {
  text-align: right;
}

@-webkit-keyframes datspintho {
  60% {
    -webkit-transform: rotateY(405deg) rotateX(-360deg);
  }

  61% {
    -webkit-transform: rotateY(405deg) rotateX(-360deg);
  }

  100% {
    -webkit-transform: rotateY(405deg) rotateX(-360deg);
  }
}

keyframes datspintho {
  60% {
    transform: rotateY(405deg) rotateX(-360deg);
  }

  61% {
    transform: rotateY(405deg) rotateX(-360deg);
  }

  100% {
    transform: rotateY(405deg) rotateX(-360deg);
  }
}